<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to Pierre's Store Vendor Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
	<img src="https://c0.wallpaperflare.com/preview/769/707/820/cake-bakery-dessert-sweet.jpg" alt="pierre decorating cake" style="width: 120px; height: 120px;" >

</head>

<body>
    <div class="container">
        @RenderBody()
    </div>
</body>

</html> 