@{
	Layout = "_Layout";
}

<h1>Welcome to Pierre's Store Vendor Tracker</h1>
<img src="https://c0.wallpaperflare.com/preview/769/707/820/cake-bakery-dessert-sweet.jpg" alt="pierre decorating cake" srcset="">
<h3><a href='/vendors'>See your orders </a></h3>
<h3><a href='/vendors/new'>Add a new order </a></h3> 